<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Advaned Restaurant Query</h1>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <p></p>

  <form method ="POST" action="/morequery">
    <label for="category">Category:</label><br>
    <input type="text" id="category" name="category"><br>
    <label for="rating">Minimum Rating:</label><br>
    <input type="text" id="rating" name="rating", placeholder="in (0,5) range"><br>
    <lable for="option">Order Options:</label><br>
    <input type="text" id="option" name="option"><br>
    <label for="dietary">Dietary need:</label><br>
    <input type="text" id="dietary" name="dietary"><br>
    <input type="submit" value="Submit">
  </form>

  <p><a href="/">Back to Home Page</a></p>


</body>


</html>
