<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurant Database</h1>

  <p>Top rated restaurants: </p>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <form method="POST" action="/generalquery">
  <p>Find details of a restaurant: <input type="text" name="name"> <input type="submit" value="Go!"></p>
  </form>

  <form method="POST" action="/catquery">
  <p>Find all restaurants in this category: <input type="text" name="cat"> <input type="submit" value="Go!"></p>
  </form>

  <form method="POST" action="/dietaryquery">
  <p>Find all restaurants that satisfy a dietary need: <input type="text" name="dietary"> <input type="submit" value="Go!"></p>
  </form>

  <form method="POST" action="/ordertypequery">
  <p>Find all restaurants that offer this order option: <input type="text" name="ordertype"> <input type="submit" value="Go!"></p>
  </form>

  <form method="POST" action="/ratingquery">
  <p>Find all restaurants above this rating: <input type="text" name="rating"> <input type="submit" value="Go!"></p>
  </form>
  <form method ="POST" action ="/resreviewquery">
  <p>Find reviews to restaurant: <input type="text" name="name"> <input type ="submit" value= "Go!"></p>
  </form>
  <form method ="POST" action ="/reviewquery">
  <p>Find reviews that contain the key words typed here: <input type="text" name="URdetail"> <input type ="submit" value= "Go!"></p>
  </form>

  <p><a href="advquery">Advanced Search</a></p>
  <p><a href="review">Write a restaurant review</a></p>


</body>


</html>
