<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurant Review</h1>

  <p>Your review is successfully added to our database! Thank you for the input and you can find details of your review below:</p>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

  <p><a href="advquery">Advanced Search</a></p>
  <p><a href="addreview">Write a restaurant review</a></p>
  <p><a href="/">Back to Home Page</a></p>


</body>


</html>
